@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

:root {
    --primary-color: #720e9e;
    
}



body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.hero {
    height: 100vh;
    width: 100vw;
}

.arrow-down {
    cursor:pointer;
    position: absolute;
    top: calc(95vh - 10px);
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
    color:rgba(71, 70, 70, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: color .4s ease;
    -moz-animation: bounce2 2s infinite;
    -webkit-animation: bounce2 2s infinite;
    animation: bounce2 2s infinite;
}
.arrow-down:hover, .arrow-down:focus{
    color:rgba(255,255,255,0.6);
    outline: none;
}
.arrow-down a {
    position: absolute;
    width: 100%;
    height: 100%;
}
header {
    min-height: 50px;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

header h1 {
    cursor: grab;
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.2rem;
    margin-right: 25vw;
   
}

.main-title.animated {
    -moz-animation: bounce 1.6s;
    -webkit-animation: bounce 1.6s;
    animation: bounce 1.6s;
}


.purple-span {
    color: var(--primary-color);
   
}

.carrousel-welcome {
    width: 100%;
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    height: 8vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.c-welcome{
    width: 80%;
    max-width: 1200px;
    color: white;
    height: 100%;   
    animation: welcome-carousel 12s ease-in-out infinite;
    
    
}

.welcome-text {
    font-size: 2.2rem;
    font-style: italic;
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    line-height: 75px;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.section-w {
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
    height: 80vh;
}
.bienvenue {
    display: flex;
    width: 100%;
    height: 90%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    padding: 20px;
    position: relative;
    
}

.blur {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,235,247,0.16);
    z-index: 2;
    
}
.separator {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 3px;
    height: 95%;
    background-color: rgba(120, 25, 133, 0.62);
    
}

.content-left {
    flex-basis: 40%;
    display: flex;
    justify-content :center;
    flex-direction: column;
    font-size: 2.6rem;
    
}
.content-left h1 {
    position: relative;
    top: -100px;
}
.content-left .carrousel-theme {
    position: relative;
    align-self: center;
    min-width: 350px;
    text-align: center;
    padding: 2rem 4.2rem;
    background-color: #a8b0ce;
    border-radius: 20px; 
    
}

.slide-theme {
    display: none;
    
}

.slide-theme.active {
    display: inline;
}



.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    font-weight: bold;
    font-size: 4rem;
    padding: 1rem;
    user-select: none;
    z-index: 3;
}
.prev {
    top: 0;
    left: 0;
    transform: translate(-40px, 0px);
}
.next {
    top: 0;
    right: 0;
    transform: translate(40px, 0px);
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.3);
    color: white;
 }

.dot-container {
    text-align: center;
    position: absolute;
    top: 120%;
    left : 50%;
    transform: translate(-50%,-50%);
    padding: 0px;
    background: transparent;
    z-index: 5; 
 }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
   
}
.dot.active, .dot:hover {
    background-color: var(--primary-color);
}

.theme-text {
    color: black;
    font-size: 2.8rem;
    font-style: italic;
    font-family: 'Playfair Display', cursive;
}


.content-right {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img-right {
    position: relative;
    width: 80%;
    height: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    z-index: 10;
    cursor:pointer;
}
.img-right .blur {
    border-radius: 50%;
    background-color: rgba(255,235,247,0.06);

}

/* end of the hero section  */

.all-theme {
    width: 100vw;
    height: 100vh;
}
.header-theme h1 {
    margin-right: 0;
}
.section-t {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82vh;
    width: 100%;
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}

.c-theme {
    width: 80%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 280px;
    margin: 5px 20px;
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
    cursor:pointer;
    transition: all .4s ease;
    border-radius: 3px;
    overflow: hidden;
    background-color: #d9e4f5;
    min-height: 250px;
    
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.3)
}

.card img {
    width: 100%;
    min-height: 190px;
}
.card .theme-info {
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    letter-spacing: 0.5px;
    font-size: 2rem;
}

.card .overview {
    background-color: #d9e4f5;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom:0;
    right: 0;
    max-height: 100%;
    width: 100%;
    transform:translateY(101%);
    transition: transform .3s ease-in;
    text-align: center;
}
.card .overview h3 {
    font-size: 1.6rem;
}
.card .overview p {
    font-size: 1.2rem;
    margin-top: 5px;
}

.card:hover .overview {
    transform: translateY(0);
}

footer {
    width: 100%;
    height: 6vh;
    background-color: #e2d5e6;
    background-image: linear-gradient(315deg, #e2d5e6 0%, #e1d4e6 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.card .blur {
    background-color: rgba(255,255,255,0.08);
}



@media screen and (max-width: 1200px) {
    .separator {
        left: 45%;
    }
    
    
    .c-theme {
        width: 100%;
    }
    .section-t {
        height: auto;
        min-height: 82vh;
    }
    .card {
        margin: 15px 20px;
    }
    
}
@media screen and (max-width: 900px) {
    .separator {
        display: none;
    }
    .content-left .carrousel-theme {
        max-width: 250px;
        min-width:240px;
    }

    .dot-container {
        min-width: fit-content;
    }
    .arrow-down {
        left: 48%;
    }
    header h1 {
        text-align: center;
        
    }
    
    
}

@media screen and (max-width: 700px) {
    .bienvenue {
        flex-direction: column;
    }
    .content-left {
        font-size: 1.8rem;
    }
    .content-left h1 {
        position:relative;
        top:-40px;
        text-align: center;
    }
    .header-theme .main-title {
        font-size: 2.9rem;
        margin: 0 10px;
    }
    footer h1{
        font-size: 1.6rem;
    }
    .arrow-down {
        left: 46%;
    } 
}
@media screen and (max-width: 380px) {
    .content-left .carrousel-theme {
        min-width: 150px;
        
    }
    .content-left h1 {
        font-size: 2.6rem;
        top: -50px;
    }
    .theme-text {
        font-size: 1.8rem;
    }
    footer h1 {
        font-size: 1.2rem;
    }
}




@keyframes welcome-carousel {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-75px);
    }
    50%, 70% {
        transform: translateY(-150px);
    }
    75%, 95% {
        transform: translateY(-225px);
    }
    100% {
        transform: translateY(-300px);
    }
}



@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-30px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}


@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
      transform: scale(1.26);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7px);
    }
  }




/* Themes style */


.tme-container {
    height: 100vh;
    overflow-y: hidden;
}

.tme-main { 
    height: 82vh;  
}


.tme-title {
    color: whitesmoke;
    padding-top: calc(10px + 3vh);
    text-align: center;
    font-size: 3.1rem;
    font-weight: bold;
}

.tme-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tme-box {
    margin-bottom : 100px;
    width: 500px;
    height: 500px;
    max-width: 90%;
    max-height: auto;
    background: rgba(255,255,255,0.95);
    box-shadow: 3px 3px 12px 7px rgba(0,0,0,0.5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}



.tme-btn-new {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.2rem 2.6rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: rgb(129, 17, 177);
    color:white;
    transition: all .3s ease-in-out;
    border: none;
    border-radius: 10px;
    z-index:2;
    cursor:pointer;
}


.tme-btn-new:focus, .tme-btn-new:hover {
    
    background-color: rgb(97, 9, 134);
    
}
.tme-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
   
}

.chrono {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color:var(--primary-color);
}

.chrono.chronoWarning {
    font-size: 1.7rem;
    color: red;
    border: 6px solid red;
}


.tme-questions {
    padding: 20px 15px;
    
    
}

.tme-question {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    margin: 2rem 0;
  
}

.tme-questions ul {
    list-style-type: none;
    padding: 0;
    position :relative;
    z-index: 3;
    
    
   
}

.tme-questions ul li {
    font-size: 1.5rem;
    margin: 2.2rem 0;
       
}
.tme-questions ul li label {
    cursor:pointer;
    padding: 5px;
}

.tme-questions ul li label:hover {
    font-weight: bold;
}


.tme-questions input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -3px;
    position: relative;
    background-color: #e1f7e1f8;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--primary-color);
    cursor:pointer;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -3px;
    position: relative;
    background-color: var(--primary-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--primary-color);
}

.tme-btn-start {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    border: none;
    bottom: 0;
    height: 60px;
    background-color: var(--primary-color);
    color:white;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: .05rem;
    z-index: 2;
    cursor: pointer;
    transition: all .3s ease;
}

.tme-btn-start:focus, .tme-btn-start:hover {
    background-color: rgb(97, 9, 134);
}
.tme-btn-validate {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    border: none;
    bottom: 0;
    height: 60px;
    background-color: var(--primary-color);
    color:white;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: .05rem;
    z-index: 2;
    cursor: pointer;
    transition: all .3s ease;
}

.tme-btn-validate:focus, .tme-btn-validate:hover {
    background-color: rgb(97, 9, 134);
}
.tme-btn-nextQ {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    border: none;
    bottom: 0;
    height: 60px;
    background-color: var(--primary-color);
    color:white;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: .05rem;
    z-index: 2;
    cursor: pointer;
    transition: all .3s ease;
}

.tme-btn-nextQ:focus, .tme-btn-nextQ:hover {
    background-color: rgb(97, 9, 134);
}




/* section answer */


.tme-correct, .tme-finalmessage {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.tme-correct-text {
    font-size: 1.8rem;
}



/* section final */
.tme-finalbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tme-finalmessage {
    font-size: 2.4rem;
    font-weight: bold;
}

.tme-finalmessage .purple-span {
   font-size: 2.6rem;

    font-weight: bold;
}
.tme-finalimage {
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
   
}


/*theme definir image et blur :*/

/*Histoire*/
.tme-main-histoire {
    background: url('https://images.unsplash.com/photo-1605811784653-ee4e230bd981?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tme-main-histoire::after {
    content:'';
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 222, 0, 0.1);
}
/*Philosophie*/
.tme-main-philosophie {
    background: url('https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tme-main-philosophie::after {
    content:'';
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 220, 0.2);
}
/*Sciences*/
.tme-main-sciences {
    background: url('https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tme-main-sciences::after {
    content:'';
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(167, 31, 139, 0.2);
}
/*Littérature*/
.tme-main-litterature {
    background: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1590&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tme-main-litterature::after {
    content:'';
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 173, 127, 0.2);
}
/*Sport*/
.tme-main-sport {
    background: url('https://images.unsplash.com/photo-1530549387789-4c1017266635?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tme-main-sport::after {
    content:'';
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 124, 202, 0.3)
}
/*Art*/
.tme-main-art {
    background: url('https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1245&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tme-main-art::after {
    content:'';
    position: absolute;
    top:0;
    z-index: 1;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,140,0,0.2)
}


/*bienvenue box */
.tme-box-welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.tme-responses-welcome ul li{
    font-size: 1.7rem;
}

/*chrono out */
.chrono-timeout {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chrono-timeout h1 {
    text-align: center;
    font-size: 2.2rem;
    color: red;
    font-family: 'Roboto', sans-serif;
}


/*span warning */
.spanwarning {
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    bottom: 70px;
    text-align: center;
    
    display: none;
}
.spanwarning.spanwactive {
    display: block;
}
.spanwarning.spanwactive.spanwactiveAnim {
    animation-name: horizontal-shaking;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
}


/*answer keyframes */

.goodAnswer {
    border: 2px solid green;
    animation-name: vertical-shaking;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
    animation-iteration-count: 2;
}

.badAnswer {
    border: 2px solid rgba(252,12,12,0.8);
    animation-name: horizontal-shaking;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-iteration-count: 2;
}


/*final keyframe */ 

.pulse {
    animation: shadow-pulse 1s infinite;
    animation-delay:3.0s;
}


/*keyframes */
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(7px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(7px) }
    100% { transform: translateX(0) }
   }
@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    20% { transform: translateY(5px) }
    25% { transform: translateY(5px) }
    45% { transform: translateY(-5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
   }




   @keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255,255,255,0.2);
        
    } 60% {
        box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
       
    } 100% {
        box-shadow: 0 0 0 15px rgba(255,255,255,0.2);
        
    }
}


@media screen and (max-width: 450px) {
    html {
        font-size: 60%;
    }
    .tme-box {

       height: 400px;
    }
    .tme-box .tme-box-header {
        padding: 5px 15px;
    }
    .tme-box .tme-questions {
        padding: 5px 15px;
    }
    .tme-correct, .tme-finalmessage {
        margin-top: 1.5rem;
    }
    .tme-correct-text {
        font-size: 1.5rem;
    }
}